.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.App h1 {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  font-size: 3rem;
}

.logo {
  margin-top: 2rem;
  width: 15rem;
}

.head {
  background-color: var(--bg-container);
  border-radius: 1rem;
  padding: 2rem;
  margin: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.labels {
  margin: 0rem 1rem 0.5rem 1rem;
  display: flex;
  flex-direction: column;
  text-align: left;
}

.labels p {
  margin: 0rem 0rem 0.5rem 1rem;
  font-size: 1rem;
}

.inputs {
  border: none;
  border-radius: 1rem;
  padding: 0.5rem 1rem;
  max-width: 20rem;
  min-width: 10rem;
}

@media only screen and ( max-width : 700px ) {
  .head {
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-bottom: 2rem;
  }

  .labels {
    margin: 1rem;
  }

  .inputs {
    width: 50rem;
  }
}

@media only screen and ( max-width : 590px ) {
  .head {
    display: flex;
    flex-direction: column;
    margin-bottom: 2rem;
  }

  .labels {
    margin: 1rem;
  }
  
  .inputs {
    width: 50rem;
  }

  .App h1 {
    margin-bottom: 1.5rem;
  }
}
